:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: var(--bs-font-sans-serif);
}

h2 {
  font-size: 48px;
  padding-top: 60px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px 20px 60px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.launch-yoga-app-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px 20px 10px 0;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  border: none;
  display: inline-block;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  background: white;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
nav {
  position: fixed;
}

.yoga-app {
  font-size: 48px;
  font-weight: 500;
  color: black;
  opacity: 1;
}
.textli {
  font-size: 18px;
  line-height: 1.5;
}
.row {
  display: flex;
}
@media (max-width: 576px) {
  .yoga-app {
    font-size: 24px;
    padding-top: 25px;
  }
  .launch-yoga-app-button {
  }
}
